[user]
	email = eric.s.bullington@gmail.com
	name = Eric S. Bullington
	signingkey = 27585882
[push]
	default = simple
[alias]
	pushall = "!f(){ for i in `git remote`; do git push $i master; done; };f"
[credential]
	helper = cache --timeout=14400
